<ion-content>
  <div class="position-absolute fundo">
    <img
      src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e3/2022_FIFA_World_Cup.svg/1200px-2022_FIFA_World_Cup.svg.png"
      alt="">
  </div>

  <h1>TROCA FIGURINHAS</h1>

  <div class="d-flex justify-content-center my-4 ">
    <img
      src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e3/2022_FIFA_World_Cup.svg/1200px-2022_FIFA_World_Cup.svg.png"
      alt="" class="logo">
  </div>

  <form [formGroup]="credenciais" (ngSubmit)="login()">
    <div class="form-floating mb-3 col-9 mx-auto">
      <input type="text" class="form-control" formControlName="login" name="login" placeholder="Login">
      <label for="login">Login</label>
    </div>
    <div class="form-floating mb-3 col-9 mx-auto">
      <input type="password" class="form-control" formControlName="senha" name="senha" placeholder="Senha">
      <label for="senha">Senha</label>
    </div>
    <div class="d-flex flex-column mx-auto col-5">
      <button type="submit" [disabled]="!credenciais.valid" class="btn btn-1 w-100 mb-2">Acessar</button>
      <button class="btn btn-2 w-100">Novo cadastro</button>
    </div>
  </form>
</ion-content>